/* PAGE BODY */
body {
    padding: 1em;
    background-repeat: repeat;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 12pt;
}

/* TITLE */
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* HEADER */
h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* SUBHEADER */
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* images for IMAGE and LINKIMAGE */
img {
    margin-bottom: 0px;
}

/* LINK */
.link {
    color: blue;
    text-decoration: underline;
}

.link::before {
    content: "";
}

.link::after {
    content: "";
}

/* LINKIMAGE */
.linkimage {
    text-decoration: none;
    background: none;
}

/* FOOTNOTE */
.footnote
{
    font-size: 80%;
}

/* LISTITEM */
.list_item
{
    margin-left: 1rem;
}

/* Spacing between titles, headers and images, and text */

.small_separator {
    height: 0.5rem;
}

/* Mid spacing above headers and below titles*/

.mid_separator {
    height: 1rem;
}

/* Big spacing above titles and headers*/

.big_separator {
    height: 2rem;
}

/* --- User Defined Styling for Images --- */

/* ... */
/* ... */
/* ... */